<!DOCTYPE html>
<html>

<head>
  <title>Pharma Home</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  </link>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='js/script.js') }}">
 
</head>

<body>
  <center>
    
  <a class="ahome" href="result"><h1 class="home">Home</h1></a>
  <br>

  <form method="POST" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file[]" multiple=""><br>
    <input type="submit" value="add">
  </form>

</center>
</body>

</html>
